<% if current_user.admin? %> 
<% if @presentation.nil? %>
<h2>You must upload the presentation first.</h2>
<% else %>
<iframe src="<%= @presentation.slides.url %>" frameborder="0" width="400" height="400" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
<%= form_for(@assignment) do |f| %>

  <% if @assignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@assignment.errors.count, "error") %> prohibited this assignment from being saved:</h2>

      <ul>
      <% @assignment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :discussion_title %><br>
    <%= f.text_area :discussion_title%>
  </div>

  <div class="field">
    <%= f.label :discussion_question %><br>
    <%= f.cktext_area :discussion_question, :ckeditor => {:language => 'en'}%>
  </div>

  <div class="field">
    <%= f.label :due_date %><br>
    <%= f.datetime_select :due_date %>
  </div>

    <div class="field">
    <%= f.hidden_field :presentation_id, value: @presentation.id %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
<% end %>
<% else %> 
  <h1> Only Admins can view this page </h1> 
<% end %> 