<h1>Responses for Assignment: <%=@assignment.discussion_title%></h1>
<table class='table table-bordered'>
  <thead>
      <tr>
        <th><%= sortable "title", "Headline", :id => @assignment.id %></th>
        <th><%= sortable "user_name", "Author", :id => @assignment.id %></th>
        <th><%= sortable "updated_at", "Last Updated", :id => @assignment.id%></th>
      </tr>
    </thead>
    <tbody>
      <% @response.each do |response| %>
        <tr>
          <td><%= link_to response.content.lines.first.html_safe, response %></td>
          <td style="font-family: TimesNewRoman, 'Times New Roman', Times, Baskerville, Georgia, serif;"><%= response.user.name%></td>
          <td style="font-family: TimesNewRoman, 'Times New Roman', Times, Baskerville, Georgia, serif;"><%= time_ago_in_words(response.updated_at)%> ago</td>
        </tr>
      <% end %>
    </tbody>
</table>