<div class =" jumbotron" > 
  <h1>Welcome to <%= Setting.class_name %></h1> 
  <p class='h2'><%= Setting.site_title %></p>
  <% if current_user.admin? %>
    <p><%= link_to 'New Presentation', new_presentation_path, class: 'btn btn-primary' %></p>
  <% end %>
</div>

<p id="notice"><%= notice %></p>

  <div class='page-header'>

    <% if !@presentation.nil? %>
      <h2>Current presentation: <%= @presentation.title %></h2>
      <% if current_user.admin? %>
      <%= link_to 'Edit', edit_presentation_path(@presentation) %> |
    <% end %>
    <%= link_to 'Download presentation', @presentation.slides.url, :download=>@presentation.title+".pdf" %>
    <% else %>
      <h2>No presentations yet</h2>
    <% end %>


    
  </div>


  
  <%= render 'presentations/discussion' %>




