<div class='page-header'>
  <h1>Responses for Assignment: <%=@assignment.discussion_title%></h1>
  <%=link_to "Download all responses", {:controller => 'assignments', :action => 'responselist', :id => @assignment.id, :format=>:csv}%>
</div>
<table class='table table-bordered'>
  <thead>
      <tr>
        <th><%= sortable "title", "Headline", :id => @assignment.id %></th>
        <th><%= sortable "user_name", "Author", :id => @assignment.id %></th>
        <th><%= sortable "updated_at", "Last Updated", :id => @assignment.id%></th>
      </tr>
    </thead>
    <tbody>
      <% @response.each do |response| %>
        <tr>
          <td><%= link_to response.content.lines.first.html_safe, response %></td>
          <td><%= response.user.name%></td>
          <td><%= time_ago_in_words(response.updated_at)%> ago</td>
        </tr>
      <% end %>
    </tbody>
</table>