<ol class='breadcrumb'>
    <li><%= link_to "Presentations", presentations_path %></li>
    <li><%= link_to @assignment.presentation.title, @assignment.presentation %></li>
    <li class='active'><%= @assignment.discussion_title %></li>
  </ol>
<div class='page-header'>
  <h1>Responses for Assignment: <%=@assignment.discussion_title%></h1>
  <% if current_user.admin? %>
    <p><%=link_to "Download all responses", {:controller => 'assignments', :action => 'responselist', :id => @assignment.id, :format=>:csv}, class: 'btn btn-primary'%></p>
  <% end %>
</div>
<table class='table'>
  <thead>
      <tr>
        <th><%= sortable "user_name", "Author", :id => @assignment.id %></th>
        <th><%= sortable "updated_at", "Last Updated", :id => @assignment.id%></th>
        <th>Response</th>
        <th colspan=2>Likes</th>
      </tr>
    </thead>
    <tbody>
      <% @response.each do |response| %>
        <tr data-response-id="<%= response.id %>">
          
          <td><%= response.user.name%></td>
          <td><%= time_ago_in_words(response.updated_at)%> ago</td>
          <td style='max-width: 500px'>
            <div class='response'>
              <%=  response.content.html_safe %>
            </div>
          </td>
          <td>
            <p class='btn-sm-padding-vertical like-count'>
              <%= pluralize response.likes.count, 'like' %> 
            </p>
          </td>
          <td> <% unless response.user.id == current_user.id %>
            <div class='no-js'>
              <%if Like.where(response_id: response.id, user_id: current_user.id).exists?%>
                <p><%= link_to 'Unlike', Like.where(response_id: response.id, user_id: current_user.id).first, method: :delete, class:'btn btn-sm btn-primary' %></p>
              <%else%>
                <%=form_for(Like.new) do |x|%>
                  <%=x.hidden_field :user_id, value: current_user.id%>
                  <%=x.hidden_field :response_id, value: response.id%>
                  <p><%=x.submit "Like", class:'btn btn-sm btn-primary'%></p>
                <%end%>
              <% end %>
            </div>
            <div class='js' style='display:none;'>
             
                <button class='btn btn-primary btn-sm like-button'>
                <%if Like.where(response_id: response.id, user_id: current_user.id).exists?%>
                  Unlike
                <%else%>
                 Like
                <% end %>
                </button>
              </div>
               <% end %>
          </td>
        </tr>
      <% end %>
      <% if current_user.admin? %>
        <% @no_response.each do |student| %>
        <tr class='danger'>
          <td><%= student.name %></td>
          <td class='text-center'>-</td>
          <td><i>No submission</i></td>
          <td colspan='2'></td>
        </tr>
        <% end %>
      <% end %>
    </tbody>
</table>

<script type='text/javascript'>
function updateLikeCount(button,newLikes){
  button.parents("tr").find(".like-count").html(newLikes);
}

$(function(){
  $('.response').readmore({
    collapsedHeight: 50,
  });
  $('.no-js').hide();
  $('.js').show();

  $('.like-button').click(function(e){
    e.preventDefault();
    var response_id=$(this).parents("tr").attr('data-response-id');
    var button = $(this);
    if($(this).html().trim()=="Like"){
      $.ajax({
        url:"<%= like_item_path %>",
        data:{"response_id":response_id},
        method:"GET",
        dataType:"JSON"
        }).done(function(data){
          updateLikeCount(button,data.response_likes_words);
          button.html("Unlike");
        });
    }
    else{
       $.ajax({
        url:"<%= unlike_item_path %>",
        data:{"response_id":response_id},
        method:"GET",
        dataType:"JSON"
        }).done(function(data){
          updateLikeCount(button,data.words);
          button.html("Like");
        });
    }
  });

  
});



</script>