<div class='page-header'>
	<h1>Presentations</h1>
</div>

<p id="notice"><%= notice %></p>


<% if current_user.admin %>
<%= link_to 'New Presentation', new_presentation_path %> <br>
<br>
<%= link_to 'Show All Responses for the class', list_presentations_path %>
<% end %>



<table class='table'>
	<thead>
		<tr>
			<th>Title</th>
			<th>Actions</th>
		</tr>
	</thead>

	<tbody>
		<% @presentations.each do |presentation| %>
		<tr>

			<td>
				<% if presentation == @presentations.first %>
					<b>
				<% end %>
				<%= presentation.title %>
				<% if presentation == @presentations.first %>
					 (current presentation) </b>
				<% end %>
			</td>
			<td> 
			<%= link_to 'View presentation and discussions', presentation_path(presentation), class: 'btn btn-primary' %>
			<% if current_user.admin %>
			<%= link_to 'Edit', edit_presentation_path(presentation), class: 'btn btn-warning' %>
			<%= link_to 'Delete', presentation, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
			<% end %>
			</td>
		</tr>
		<% end %> 
	</tr>
</tbody>
</table>
<br>



