
<p id="notice"><%= notice %></p>

<h1>Listing Presentations</h1>

<%= link_to 'New Presentation', new_presentation_path %> 
<%= link_to 'Show All Responses for the class', list_presentations_path %>

<h2> Current Presentation </h2> 
<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <tr>

       <% unless @presentation.nil? %> 
          <iframe src="<%= @presentation.slides.url %>" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
          <td><%= link_to 'Edit', edit_presentation_path(@presentation) %></td>
          <td><%= link_to 'Destroy', @presentation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %> 
      </tr>
  </tbody>
</table>

<br>



