<%= form_for(@response) do |f| %>
  <% if @response.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@response.errors.count, "error") %> prohibited this response from being saved:</h2>

      <ul>
      <% @response.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :discussion_title %><br>
    <%= f.text_field :discussion_title %>
  </p>
 
  <p>
    <%= f.label :student_response %><br>
    <%= f.text_field :student_response %>
  </p>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
