<h1><%=@user.name%>'s Portfolio</h1>

<%@responses.each do |response|%>
  <div class="portfoliocontent">
    <p>
      <h2><%= assignment.title%></h2>
    </p>

    <p style="font-family: TimesNewRoman, 'Times New Roman', Times, Baskerville, Georgia, serif;">
      For Assignment: <%= response.assignment.title%>
    </p>

    <p style="font-family: TimesNewRoman, 'Times New Roman', Times, Baskerville, Georgia, serif;">
      <%=response.content.html_safe%>
    </p>

  </div>
  <br>

<%end%>
<br>

<%= link_to 'Back', {:controller => 'response', :action => 'userlist'} %>