<div class='page-header'>
  <h1>My likes</h1>
</div>
<p id="notice"><%= notice %></p>



<table class='table'>
  <thead>
    <tr>
      <th>Assignment</th>
      <th>Author</th>
      <th>Content</th>
      <th>View post</th>
    </tr>
  </thead>

  <tbody>
    <% @likes.each do |like| %>
      <tr>
        <td><%= like.response.assignment.discussion_title %></td>
        <td><%= like.response.user.name %></td>
        <td><%= like.response.content.html_safe %></td>
        <td><%= link_to "View post", like.response %> </td>
      </tr>
    <% end %>
  </tbody>
</table>
