<h1><%=@response.title%></h1>
<h3>By: <%=@response.user.name%></h3>
<h4>On: <%=@response.assignment.discussion_title %></h4>
<h4>Likes: &nbsp</h4><% @response.likes.each do |like| %>
			<%= like.user.name %> &nbsp&nbsp 
		<% end %>
  	<% unless @response.user.id == current_user.id %>
  		<div id="likes" align="right">
    	<%if Like.where(response_id: @response.id, user_id: current_user.id).exists?%>
    		<div><%= link_to 'Unlike', Like.where(response_id: @response.id, user_id: current_user.id).first, method: :delete, class: 'btn btn-danger' %></div>
    	<%else%>
    		<%=form_for(Like.new) do |x|%>
    			<%=x.hidden_field :user_id, value: current_user.id%>
    			<%=x.hidden_field :response_id, value: @response.id%>
    			<%=x.submit "Like", class:'btn btn-primary'%>
    		<%end%>
  		<% end %>
  		 </div>
  	<% end %>	 
<br>
<div class="responsecontent">
	<%=@response.content.html_safe%>
</div>
<br>

<%= link_to 'Back', {:controller => 'assignments', :action => 'responselist', :id => @response.assignment.id}%>

